body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    font-size: 48px;
    color: #38bdf8;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #22c55e;
    color: black;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #16a34a;
}